{% extends "admin_panel.html" %} 

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load django_bootstrap5 %}
</head>

{% block content %}
    <h1>Список книг</h1>

    <select id="sorting">
        <option value="" {% if request.GET.sort == "" %}selected{% endif %}>По умолчанию</option>
        <option value="title" {% if request.GET.sort == "title" %}selected{% endif %}>По алфавиту</option>
        <option value="-title" {% if request.GET.sort == "-title" %}selected{% endif %}>В обратном алфавитном порядке</option>
        <option value="-rating" {% if request.GET.sort == "-rating" %}selected{% endif %}>По рейтингу (от лучшего к худшему)</option>
        <option value="rating" {% if request.GET.sort == "rating" %}selected{% endif %}>По рейтингу (от худшего к лучшему)</option>
    </select>

    {% if page_obj.object_list %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Обложка</th>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
                <th scope="col">Жанр</th>
                <th scope="col">Язык</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Скачать</th>
            </tr>
        </thead>
        <tbody>
            {% for book in page_obj.object_list %}
            <tr>
              <td>
                  {% load static %}
                  <img src="{% static book.path_to_icon %}" alt="Обложка" width="100px">
              </td>
              <td>
                  <a href="{{ book.get_admin_url}}" style="text-decoration:none">{{ book.title }}</a>
              </td>
              <td>{{ book.author }}</td>
              <td>{{ book.genre.all|join:", " }}</td>
              <td>{{ book.language }}</td>
              <td>{{ book.rating }} / 5</td>
              <td>{{ book.path_to_icon }}</td>
              <td>
                  <a href="{% static book.path_to_file %}" download="{{ book.title }}.pdf">Скачать</a>
              </td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!--<p>Нет таких книг в библиотеке.</p> -->
  {% endif %}

    {% include 'pagination.html'%}
    {% endblock %}
    
<!--
    <script>
        document.getElementById('sorting').addEventListener('change', function() {
            const sortValue = this.value;
            let url = window.location.href; // Получаем текущий URL

            // Если уже есть параметр сортировки, удаляем его
            url = url.replace(/(\?|&)sort=[^&]+/g, '');

            if (sortValue) {
                // Добавляем параметр сортировки
                if (url.includes('?')) {
                    url += '&sort=' + sortValue;
                } else {
                    url += '?sort=' + sortValue;
                }
            }

            window.location.href = url; // Перенаправляем на новый URL
        });
    </script>
    -->