{% extends "user_panel.html" %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

{% block content %}
    <h1>Список книг</h1>

    <!-- Сортировка -->
    <select id="sorting" class="form-select mb-4" style="max-width: 200px;">
        <option value="" {% if request.GET.sort == "" %}selected{% endif %}>По умолчанию</option>
        <option value="title" {% if request.GET.sort == "title" %}selected{% endif %}>По алфавиту</option>
        <option value="-title" {% if request.GET.sort == "-title" %}selected{% endif %}>В обратном алфавитном порядке</option>
        <option value="-rating" {% if request.GET.sort == "-rating" %}selected{% endif %}>По рейтингу (от лучшего к худшему)</option>
        <option value="rating" {% if request.GET.sort == "rating" %}selected{% endif %}>По рейтингу (от худшего к лучшему)</option>
    </select>

    <!-- Сетка карточек книг -->
    {% if page_obj.object_list %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for book in page_obj.object_list %}
        <div class="col">
            <div class="card h-100">
                {% load static %}
                <img src="{% static book.path_to_icon %}" class="card-img-top" alt="Обложка книги" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ book.get_absolute_url }}" style="text-decoration:none">{{ book.title }}</a></h5>
                    <p class="card-text"><strong>Автор:</strong> {{ book.author }}</p>
                    <p class="card-text"><strong>Жанр:</strong> {{ book.genre.all|join:", " }}</p>
                    <p class="card-text"><strong>Язык:</strong> {{ book.language }}</p>

                    <p class="card-text d-flex align-items-center">
                        <img src="{% static 'images/star.png' %}" alt="Star icon" width="20px" class="mr-2">
                        <strong>{{  book.average_rating|floatformat:2|default:"Нет рейтинга" }}</strong>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% static book.path_to_file %}" download="{{ book.title }}.pdf" class="btn btn-primary">Скачать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Нет таких книг в библиотеке.</p>
    {% endif %}

    {% include 'pagination.html' %}

{% endblock %}

<script>
    document.getElementById('sorting').addEventListener('change', function() {
        const sortValue = this.value;
        let url = window.location.href;

        url = url.replace(/(\?|&)sort=[^&]+/g, '');

        if (sortValue) {
            url += url.includes('?') ? '&sort=' + sortValue : '?sort=' + sortValue;
        }

        window.location.href = url;
    });
</script>
