{% extends "user_panel.html" %}

{% block content %}
<h1>Список авторов</h1>
<a href="?sort=date_of_birth">Сортировать по дате рождения</a> |
<a href="?sort=last_name">Сортировать по фамилии (от А до Я)</a> |
<a href="?sort=-last_name">Сортировать по фамилии (от Я до А)</a>

{% if author_list %}
  <ul>
  <!--<input type="text"> -->
  {% for author in author_list %}
    <li>
      
      <a href="{{ author.get_absolute_url }}">
      {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>

{% else %}
  <p>Не найдено писателей.</p>
{% endif %}
{% include 'pagination.html' %}
              
        
{% endblock %}

