{% extends "base_generic.html" %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Удалить книгу</h1>

{% if book.bookinstance_set.all %}
<p>Вы не можете удалить книгу, пока существует хотя бы одна копия книги:</p>

<ul>
{% for copy in book.bookinstance_set.all %}
  <li><a href="{{ copy.get_absolute_url }}">{{copy.id}}</a> (Издательство: {{copy.imprint}})</li>
{% endfor %}
</ul>

{% else %}
<p>Вы уверены, что хотите удалить книгу: {{ book }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  {% bootstrap_button button_type="submit" content="Удалить" %}
</form>
{% endif %}

{% endblock %}
