{% extends "base_generic.html" %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
{% block content %}
<form action="" method="post" class="container mt-4">  
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6 mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.author.label_tag }}
            {{ form.author }}
            {% if form.author %}
                <div class="invalid-feedback">
                    {% for error in form.author %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.summary.label_tag }}
            {{ form.summary }}
            {% if form.summary %}
                <div class="invalid-feedback">
                    {% for error in form.summary %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-6 mb-3">
            {{ form.isbn.label_tag }}
            {{ form.isbn }}
            {% if form.isbn %}
                <div class="invalid-feedback">
                    {% for error in form.isbn %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.language.label_tag }}
            {{ form.language }}
            {% if form.language %}
                <div class="invalid-feedback">
                    {% for error in form.language %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% if form.description.errors %}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
