{% extends "admin_panel.html" %}

{% load django_bootstrap5 %}

{% block content %}

<h1>Удалить язык: {{ language }}</h1>

<p>Вы действительно хотите удалить язык из базы?</p>

<form action="" method="POST">
  {% csrf_token %}
  <div class="d-flex justify-content-start mt-1">
    <a href="javascript:history.back()" class="btn btn-secondary ms-3">Назад</a>
    <div class="mx-auto">
        {% bootstrap_button button_type="submit" content="Удалить" button_class="btn btn-primary" %}
    </div>
  </div>
</form>

{% endblock %}
