<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    {% load django_bootstrap5 %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>

  <h1 align="center">Админ панель</h1>
  
  <div class="container-fluid">
    <div class="row">
      <!-- Боковая панель -->
      <div class="col-md-2 bg-light" style="min-height: 100vh; padding-top: 20px;">
        {% block sidebar %}
          <ul class="list-unstyled">
            <li><a href="{% url 'log' %}">Просмотр логов</a></li>
            <li><a href="{% url 'admin_books' %}">База данных: коллекция книг</a></li>
            <li><a href="{% url 'admin_authors' %}">База данных: авторы книг</a></li>
            <li><a href="{% url 'admin_languages' %}">База данных: языки</a></li>
            <li><a href="{% url 'admin_genres' %}">База данных: жанры</a></li>
            <li><a href="{% url 'genre-create' %}">Добавить новый жанр книг</a></li>
            <li><a href="{% url 'language-create' %}">Добавить язык</a></li>
            <li><a href="{% url 'author-create' %}">Добавить автора</a></li>
            <li><a href="{% url 'book-create' %}">Добавить книгу</a></li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link">Выйти</button>
            </form>
          </ul>
          
        {% endblock %}
      </div>

      <!-- Основное содержимое -->
      <div class="col-md-10">
        <div class="container my-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
