{% extends "base_generic.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h1 ALIGN="center">Библиотека</h1>

<div ALIGN="center">
{% load static %}
<img src="{% static 'images/main_logo.png' %}" alt="My image" width="600px">
</div>


<h2>Сбор статистики</h2>

<p>Библиотека насчитывает:</p>
<ul>
<li><strong>Книг в библиотеке:</strong> {{ num_books }}</li>
<li><strong>Книг на руках:</strong> {{ num_instances }}</li>
<li><strong>Книг в хранилище:</strong> {{ num_instances_available }}</li>
<li><strong>Авторов зарегистрировано:</strong> {{ num_authors }}</li>
</ul>


<p>Вы заходили на эту страницу: {{ num_visits }} раз{{ num_visits|pluralize }}.</p>

{% endblock %}
